@font-face {
  font-family: "Recoleta-Black";
  src: url('assets/fonts/Recoleta-Black.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Recoleta-Regular";
  src: url('assets/fonts/Recoleta-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Recoleta-Medium";
  src: url('assets/fonts/Recoleta-Medium.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Recoleta-SemiBold";
  src: url('assets/fonts/Recoleta-SemiBold.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Recoleta-Bold";
  src: url('assets/fonts/Recoleta-Bold.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "RecoletaAlt-Black";
  src: url('assets/fonts/RecoletaAlt-Black.ttf') format("truetype");
}

@font-face {
  font-family: "RecoletaAlt-Regular";
  src: url('assets/fonts/RecoletaAlt-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "RecoletaAlt-Medium";
  src: url('assets/fonts/RecoletaAlt-Medium.ttf') format("truetype");
}

@font-face {
  font-family: "RecoletaAlt-SemiBold";
  src: url('assets/fonts/RecoletaAlt-SemiBold.ttf') format("truetype");
}

@font-face {
  font-family: "RecoletaAlt-Bold";
  src: url('assets/fonts/RecoletaAlt-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "Korolev Heavy";
  src: url('assets/fonts/Korolev Heavy.ttf') format("truetype");
}

@font-face {
  font-family: "Korolev Medium";
  src: url('assets/fonts/Korolev Medium.ttf') format("truetype");
}

@font-face {
  font-family: "Korolev Bold";
  src: url('assets/fonts/Korolev Bold.ttf') format("truetype");
}

@font-face {
  font-family: "Sreda";
  src: url('assets/fonts/Sreda.ttf') format("truetype");
}

:root {
  --txt-color-dark: #28190E; 
  --background: #fdf5e6;
  --background: #feecd3;
  --background2: #F4C46F;
  --orange: #ff9e3a;

  --backgroundimage: url("assets/images/noise.webp"),linear-gradient(#ffecd2,#ffecd2);
  --backgroundimage: url("assets/images/noise.webp"),linear-gradient(#ffecd2,#ffeacc);

  --backgroundimage2: url("assets/images/noise.webp"),linear-gradient(#28190E,#28190E);


  /* --font-size-1: 0.8rem; */
  --font-size-1: 1.2rem;
  --font-size-2: 1.8rem;
  --font-size-3: 2.6rem;
  --font-size-4: 2.4rem;
  --font-size-5: 2.8rem;
  --font-size-6: 9.4rem;
  --font-size-7: 7rem;
  --font-size-8: 38.4rem;
  --font-size-9: 76.8rem;

  --shadow-color: 280deg 25% 0%;
  --shadow-elevation-low:
    0px 0.8px 1px hsl(var(--shadow-color) / 0.28),
    0px 1.5px 1.8px -0.9px hsl(var(--shadow-color) / 0.34),
    -0.1px 3.4px 4.1px -1.9px hsl(var(--shadow-color) / 0.4);
  --shadow-elevation-medium:
    0px 0.8px 1px hsl(var(--shadow-color) / 0.29),
    -0.1px 3.1px 3.8px -0.6px hsl(var(--shadow-color) / 0.34),
    -0.2px 7.3px 8.9px -1.3px hsl(var(--shadow-color) / 0.39),
    -0.5px 17.1px 20.8px -1.9px hsl(var(--shadow-color) / 0.43);
  --shadow-elevation-high:
    0px 0.8px 1px hsl(var(--shadow-color) / 0.27),
    -0.2px 6.1px 7.4px -0.3px hsl(var(--shadow-color) / 0.29),
    -0.3px 11.2px 13.6px -0.5px hsl(var(--shadow-color) / 0.32),
    -0.5px 17.7px 21.5px -0.8px hsl(var(--shadow-color) / 0.34),
    -0.8px 27.2px 33.1px -1.1px hsl(var(--shadow-color) / 0.36),
    -1.2px 41.1px 50px -1.4px hsl(var(--shadow-color) / 0.38),
    -1.8px 61px 74.1px -1.6px hsl(var(--shadow-color) / 0.4),
    -2.6px 88.5px 107.6px -1.9px hsl(var(--shadow-color) / 0.42);

}

html {
    box-sizing: border-box;
    font-size: 62.5%;

}

*, *:before, *:after {
    box-sizing: inherit;
}  

body {
    font-family: system-ui;
    font-size: 1.125rem;
    line-height: 0.5;
    background-image: url("assets/images/noise.webp"),linear-gradient(#faebd7,#faebd7);
    background-image: url("assets/images/noise.webp"),linear-gradient(#feecd3,#feecd3);
    background-image: url("assets/images/noise.webp"),linear-gradient(#fdf4e5 30%,#fff5e5 80%);
    background-image: var(--backgroundimage);

    background-position: 0 0,0 0;
    background-size: auto, auto;
    width: 100%;
}

.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
} 

h1,
h2,
h3,
h4,
p {
  color: var(--txt-color-dark);
}

h1 {
  /* font-size: var(--font-size-6) !important; */
  /* font-size: 6.5rem !important;
  font-size: 8rem !important; */
  /* line-height: 100px !important; */
  font-family: "Recoleta-Black" !important;
  /* color: var(--background2) !important; */
}

h2 {
  font-family: "RecoletaAlt-Black";
  font-family: "Recoleta-Black";
  font-weight: 800;
  /* font-family: "Korolev Heavy"; */

  font-size: 85px !important;

  font-size: var(--font-size-6) !important; 
  font-size: 6.5rem !important;

  /* font-size: 55px !important; */
  line-height: 80px !important;
  /* padding-bottom: 1.5rem !important; */
  padding-bottom: 20px !important;
}

h3 {
  font-size: var(--font-size-5) !important;
  font-size: 2.4rem !important;
  line-height: 36px !important;
}

h4 {
  font-size: var(--font-size-4) !important;
  line-height: 30px !important;
}

h3,
h4 {
  font-family: "Recoleta-SemiBold";
  /* font-family: "Recoleta-Medium"; */
  /* font-family: "Korolev-Condensed"; */
  /* font-family: "proxima-nova"; */

  font-weight: 600;
}

label {
  /* font-family: "Korolev"; */
  font-family: "proxima-nova";
  font-family: "Recoleta-Bold";
  font-weight: 600;
  font-size: var(--font-size-2);
  /* font-family: "Primana Thin"; */
  padding-left: 1em;
  padding-bottom: 0.25em;
  /* font-weight: 700; */
  /* letter-spacing: 0.2em; */
}

input {
  font-family: "proxima-nova";
  font-family: "Recoleta-Bold";
  font-weight: 600;
  font-size: var(--font-size-2);

}

button,
.btn {
  /* font-family: "Primana"; */
  font-family: "Korolev-Condensed" !important;
  font-family: "Recoleta-Bold" !important;
  /* font-family: "Recoleta-Black" !important; */
  font-weight: 700 !important;
  font-size: var(--font-size-4) !important;
  font-size: 2rem !important;
  /* font-family: "proxima-nova"; */

}

nav a {
  /* font-family: "Primana"; */
  /* font-family: 'Korolev Bold'; */
  font-family: 'Korolev Heavy';
  font-family: 'Korolev-Condensed';
  font-family: "Recoleta-Bold";
  font-family: "Recoleta-Black";
  font-weight: 700;
  font-style: normal;
  /* font-size: var(--font-size-4) !important; */
  font-size: 2rem;
}

.footer-links a {
  font-size: var(--font-size-2) !important;
}

p,
textarea {
  font-family: "RecoletaAlt-Regular";
  font-family: "Recoleta-Medium";
  /* font-family: "Primana Thin"; */
  /* font-family: "Korolev-Condensed"; */
  /* font-family: "proxima-nova"; */
  /* font-weight: 600; */
  /* font-family: "diazo-mvb-ex-cond"; */
  font-size: var(--font-size-2) !important;
  /* font-weight: 500; */
}

p {
  /* letter-spacing: -0.2px; */

  /* font-size: var(--font-size-2) !important; */
  /* font-size: 18px !important; */
  line-height: 25px !important;
  /* line-height: 1.6em !important; */
  /* margin: 0 0 15px !important; */
  /* text-wrap: balance; */
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.next-event { 
  position: relative;
  z-index: 999;
  width: 100%;
  text-align: center;
  align-items: center;
  background-color: var(--accent-color);
  animation: returnToOrigin 0.3s ease-out forwards;
  animation-delay: 0.3s;
  transition: fill 600ms cubic-bezier(0.215, 0.61, 0.355, 1),opacity 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
}

.event-txt {
  display: flex;
  justify-content: center;
  place-self: center;
  font-size: 1.2rem;
}

.next-event h2 {
  display: none;
  justify-self: left;
  padding-left: 1em;
  font-size: 1.4rem;
}

.event-txt img {
  width: 25px;
  height: fit-content;
  margin: 0px 6px 0 6px;
}

.event-date {
  display: flex;
  gap: 1.25em;
}

.event-date h3 {
  font-weight:600;
}

.event-social {
  display: none;
}

.event-social img {
  width: 40px;
  height: auto;
  padding: 5px;
}

#header {
  position: fixed;
  text-align: center;
  z-index: 999;
  width: 100%;
  padding: 22px 0 22px;
  border-color: var(--txt-color-dark);
  /* border-bottom: 2.5px solid; */
}

.logo-contain {
  display: grid;
  grid-template-rows: auto auto auto;
  align-items: center;
  justify-content: center;
  justify-self: left;
  margin-left: 4em;
}

#round-title {
  position: relative;
  width: 5rem;
  border-radius: 50%;
  transform: rotate(-24deg);
  right: 28px;
  margin-bottom: 26px;
  margin-top: 5px;
  display: none;
}

#round-title span {
  font-family: "Recoleta-Bold";
  font-size: 1rem;
  font-kerning: normal;
  height: 155px;
  position: absolute;
  width: 20px;
  left: 0;
  top: 0;
  transform-origin: bottom center;
}

.mobile-logo {
  display: block;
  width:60px;
  margin-left: auto;
  margin-right: auto;
}

.logo-contain h3 {
  font-size: 0.72rem;
  font-weight: 800; 
  display: none;
  transform: translate(-0.5px, -3px);
}

.navi {
  padding-bottom: 20px;
}

.navi-list li:not(.centered-logo) {
  flex: 1 0 auto;
  text-align: center;
  padding: 8px 0 8px;
}

.logo {
  width: 200px;
  /* margin-top: -40px; */
  margin-top: -45px;
  justify-self: center;
   /* background-image: url("noise.png"),linear-gradient(#ebe2cb,#ebe2cb); */
   /* background-image: url("noise.png"),linear-gradient(#FAF0E4,#FAF0E4); */
   /* background-image: url("noise.png"),linear-gradient(#f6e4ce,#f6e4ce);     */
   /* background-image: url("noise.png"),linear-gradient(#faebd7,#faebd7); */
   /* background-image: var(--backgroundimage); */
   background-color: var(--background);


   background-position: 0 0,0 0;
   background-size: auto, auto;
   padding: 6px;
   left: 50%;
   top: 0;
   margin-left: -60px !important;
   animation: returnToOrigin 0.5s ease-out forwards;
  animation-delay: 0.1s;
  opacity: 0;
  transition: fill 600ms cubic-bezier(0.215, 0.61, 0.355, 1),opacity 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  display: none;
  border-radius: 50%;
  border-color: var(--txt-color-dark);
  /* border: 2px solid; */
}

#cover {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  /* background-image: var(--backgroundimage); */
  background: var(--background);


  line-height: 0.5 !important;
  background-position: 0 0,0 0;
  background-size: auto, auto;
  z-index:-100;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
    
.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
  
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  background: var(--txt-color-dark);
  height: 3.5px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
  
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}
  
.nav-toggle-label span::before {
  bottom: 7px;
}
  
.nav-toggle-label span::after {
  top: 7px;
}
  
nav {
  position: absolute;
  text-align: left;
  left: 0;
  background-size: cover;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;  
  /* background-image: url("noise.png"),linear-gradient(#ebe2cb,#ebe2cb); */
  /* background-image: url("noise.png"),linear-gradient(#FAF0E4,#FAF0E4); */
  /* background-image: url("noise.png"),linear-gradient(#f6e4ce,#f6e4ce);     */
  /* background-image: var(--backgroundimage); */
  background-color: var(--background);
}
  
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
  
/* nav li {
  margin-bottom: 1em;
  margin-left: 1em;
} */
  
nav a {
  color: var(--txt-color-dark);
  text-decoration: none;
  /* font-size: 1.6rem; */
  font-kerning: normal;
  letter-spacing: 0.5px;

  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:nth-last-child() {
  background: linear-gradient(180deg, var(--orange), transparent) var(--orange);
}
  
/* nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3.5px;
  text-underline-offset: 4px;
} */

nav li:not(:last-child) a::before {   
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  /* background-color: #18272F; */
  background-color: var(--txt-color-dark);
  /* bottom: 0; */
  bottom: -2px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

nav li:not(:last-child) a:hover::before {   
  transform-origin: left;
  transform: scaleX(1);
}

nav li:nth-child(3) a:before {
  content: none;
}
  
.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}
  
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.social-stick {
  position: fixed;
  top: 60%;
  left: 0;
  z-index: 1;
  display: none;
}

#social-sidebar a {
	background: rgba(0, 0, 0, .7);
	color: #fff;
  text-decoration: none;
	display: block;
	height: 50px;
	width: 50px;  
	line-height: 50px;
	position: relative;
	text-align: center;
  cursor: pointer;
}

#social-sidebar a:hover span {
	left: 140%;
	opacity: 1;
}

.social-stick img {
  width: 50px;
  /* margin: 5px; */
  margin: 5px 8px 5px;
}

.home-img2 {
  display: none !important;
}

.social-img1 {
  display: block !important;
}

.social-img2 {
  display: none !important;
}

#menu h2 {
  font-size: 20rem !important;
}

.store-header h2 { 
  font-size: 20rem !important;
}

.drink-overlay h3 {
  font-size: var(--font-size-7) !important;
}

.home-img-mob {
  display: none;
}

.home-img-desk {
  display: block;
}

.home1 .home-img-desk{
  scale: 0.7;
} 

.home1 .home-img-mob{
  scale: 0.8;
  margin: 1rem 0;
} 

.home2 .home-img-mob{
  scale: 0.9;
  margin: -2rem 0 -1rem;
} 

.home2 .home-img-desk{
  scale: 0.9;
} 

/* .slider-desk {
  display: block;
}

.slider-mob {
  display: none;
} */

.cooler-overlay h3 {
  font-size: var(--font-size-7) !important;
}

.outline {
  color: white;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 3px var(--background);
}

.container .outline {
  -webkit-text-stroke: 3px white;
}

#menu h4 {
  /* font-size: 3rem !important; */
}

.store-header h4 {
  font-size: 3rem !important;
}

#contact {
  padding: 50px 5% 50px !important;
  /* background-image: url('assets/images/contact11.png'); */
  background-image: url('https://f000.backblazeb2.com/file/BuckinBean/contact11.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.slider {
  display: block;
}

.slider-mob {
  display: none;
}

.cooler-div {
  margin-top:35rem;
}

#store {
  padding: 40rem 5% 100px;
}

@media screen and (max-width: 949px) {
  #header {
    padding: 1rem 0 1rem;
  }

  .home-img-mob {
    display: block;
  }

  .home-img-desk {
    display: none;
  }

  .home1 {
    animation: returnToOrigin 0.5s ease-out forwards, scroll 150s linear infinite !important;
    translate: 0 5rem !important;
  }

  .home2 {
    translate: 0 5rem !important;
  }

  .about-profile {
    translate: 0 -4rem !important;
    padding: 8rem 5% !important;
  }

  .outline {
    color: var(--background);
    -webkit-text-stroke: 0;
  }  

  .container .outline {
    color: white;
    -webkit-text-stroke: 0;
  }

  .mobile-logo {
    width: 6rem;
    margin-top: -1rem;
  }

  .navi-list li {
    padding: 1rem 0 2rem !important;
  }

  .navi-list li:nth-child(1) {
    padding: 3rem 0 2rem !important;
  }

  .navi-list li:nth-child(4) {
    padding: 1rem 0 3rem !important;
  }

  .centered-logo {
    display: none;
  }

  .home1 {
    background-image: url(assets/images/bullbl4.webp) !important;
  }

  .home-txt {
    text-align: center;
    float: none !important;
    padding-bottom: 6rem;
    padding-top: 1rem;
  }

  .home-txt::after {
    width: 100% !important;
    opacity: 0.6 !important;
    opacity: 0.8 !important;
  }

  .btn {
    margin-top: 1.5rem !important;
    font-size: 1.8rem !important;
  }

  .introtext {
    font-size: 4.2rem !important;
    line-height: 50px !important;
    padding-bottom: 0rem !important;
  }

  .home-txt h3 {
    font-size: 1.8rem !important;
    line-height: 2.7rem !important;
  }

  .newhome {
    padding: 5.5rem 5% 0;
  }

  .home-img {
    animation: none !important;
    opacity: 1 !important;
  }

  .home-left {
    width: 100% !important;
    float: none !important;
  }

  .home-img {
    width: 100% !important;
    float: none !important;
    min-height: 250px !important;
  }

  .about-right {
    width: 100% !important;
    float: none !important;
    padding: 0 0 4rem;
  }

  .about-txt h2 {
    font-size: 4.5rem !important;
    line-height: 6rem !important;
    padding-bottom: 1rem !important;
  }

  .about-img {
    width: 100% !important;
    float: none !important;
    background-position: center !important;
    min-height: 400px !important;
  }

  .menu-back {
    padding: 2rem 5% 0;
  }

  .menu-back::after {
    opacity: 0.65 !important;
  }

  #menu {
    margin-top: 0 !important;
    padding: 8rem 0 0 !important;
  }

  #menu h2 {
    font-size: 8rem !important;
  }

  /* #menu h4 {
    font-size: 2.4rem !important;
    margin: 1rem 0 2rem !important;
  } */

  .menu-sub {
    font-size: 2.2rem !important;
    margin: 1rem 0 2rem !important;
    margin: 0 !important;
  }

  .slider {
    display: none;
  }

  .slider-mob {
    display: block;
  }

  .store-header h2 {
    font-size: 8rem !important;
  }

  .store-header h4 {
    font-size: 2.4rem !important;
  }

  .store-card {
    margin-top: 4rem;
    width: 100% !important;
    padding: 3% !important;
  }

  .drink-overlay h3 {
    font-size: 4rem !important;
  }

  .drink-card {
    width: 70% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .drink-card img {
    width: 70% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 2rem 0 !important;
  }

  .drink-card h4 {
    padding: 0.5rem 0 0.5rem !important;
    margin: 0 !important;
  }

  .drink-card p {
    padding: 0.5rem 0 2rem !important;
  }

  .cooler-div {
    margin-top: 20rem;
  }

  .cooler-card {
    width: 70% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .cooler-card img {
    width: 70% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 2rem 0 !important;
  }

  .cooler-card h4 {
    padding: 0.5rem 0 0.5rem !important;
    margin: 0 !important;
    font-size: 2.4rem !important;
  }

  .cooler-card p {
    padding: 0.5rem 0 2rem !important;
  }

  .slide-btn {
    width: 50px !important;
    height: 50px !important; 
  }
  
  .cooler-overlay h3 {
    font-size: 5rem !important;
  }

  #store {
    padding: 20rem 5% 10rem !important;
  }  

  .social-img {
    width: 100% !important;
    float: none !important;
    min-height: 300px !important;
    margin-top: 0 !important;
  }

  .social-img1 {
    display: block !important;
  }

  .social-img2 {
    display: none !important;
  }

  #contact {
    padding: 4rem 5% 0px !important;
    margin-bottom: 2rem !important;
    translate: 0 -5rem;
    background-image: url("assets/images/contactmob10.png");
  }  

  #fcf-form h4 {
    font-size: 2.4rem !important;
  }

  .container {
    display: none !important;
  }

  .centered {
    margin-top: 7rem;
  }

  .centered h1 {
    font-size: 6.5rem !important;
  }  

  .centered img {
    width: 40dvw !important;
  }

  footer {
    grid: none !important;
  }

  .footer-logo {
    justify-self: center;
    padding: 2.5rem 0 0 !important;
    width: 20dvw !important;
    margin: 0 !important;
  }  

  .footer-links {
    display: inline-grid !important;
    justify-content: center !important;
    padding-top: 3rem;
  }

  .footer-links a {
    font-size: 2.2rem !important;
    padding-top: 2rem !important;
  }

  .footer-links a:nth-of-type(4) {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .footer-social {
    justify-content: center !important;
    margin-right: 0 !important;
  }

  .footer-social img {
    width: 15dvw !important;
    /* padding: 2rem 1.2rem !important; */
    margin: 0rem 1.2rem 4rem !important;
    padding: 0 !important;
  }
}

@media screen and (min-width: 1544px) {

  .newhome {
    height: 82.5dvh;
  }

  .home-img-desk {
    margin-top: 0 !important;
  }

  .about-txt {
    /* transform: translateY(50px); */
    /* transform: translateY(10px); */
  }

  .store-grid p {
    font-size: 1.8rem !important;
  }  

  .home-txt {
    margin: 24% 10% 15% 14% !important;
    max-width: 750px;
  }

  .home-txt2 {
    margin: 24% 10% 15% 14% !important;
    max-width: 750px;
  }

  .introtext {
    font-size: 8rem !important;
  }

  #contact {
    background-image: url('assets/images/contact30.png') !important;
  }  

}

@media screen and (min-width: 950px) {
  .mobile-logo {
    display: none;
  }

  #round-title {
    display: block;
  }

  .nav-toggle-label {
    display: none;
  }

  .next-event {
    display: grid;
    grid-template-columns: 1.5fr 2fr 0.3fr;
  }

  .event-social {
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
  }

  .next-event h2 {
    display: block;
  }    

  .social-stick {
    display: block;
  }
  
  /* #header {
    display: grid;
    grid-template-columns: 2fr auto minmax(600px, 3fr) 1fr;
  } */
    
  .logo-contain h3 {
    display: block;
  }

  .logo {
    display:block;
  }
  
  .navi {
    padding-bottom: 0;
  }

  .navi-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  nav li:nth-child(2) {
    margin-right: 80px;
    margin-left: 0px;
    padding-left: 40px;
  }
  
  nav li:nth-child(4) {
    margin-left: 108px;
    margin-right: -60px;
    padding-right: 0px;
  }  
    
  nav {      
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    /* left: -4em;
    grid-column: 3/5;
    display: flex;
    justify-content: flex-end;
    align-items: center; */
  }
    
  nav ul {
    display: flex;
  }
    
  nav li {
    margin-left: 2em;
    margin-bottom: 0;
  }
    
  nav a {
    opacity: 1;
    position: relative;
  }
    
  nav a:hover::before {
    transform: scale(1,1);
  }

  .home {
    position: relative;
    display: grid;
    /* grid-template-columns: 1fr auto; */
    grid-template-columns: auto auto;
    gap: 5rem;
    /* gap: 2em; */
    align-items: center;
    width: 100%;
    justify-items: center;
    /* padding: 160px 10% 0px !important;  */
    padding: 200px 10% 100px !important; 
  }  

  #home1 {
    /* animation: returnToOrigin 0.5s ease-out forwards, scroll 100s linear infinite !important; */
  }

  .introtext {
    /* font-size: clamp(2rem, 1rem + 4.5vw, 7rem) !important; */
    /* font-size: 5rem !important; */
    /* line-height: 5.3rem !important; */
    text-align: left !important;
  }
    
  .hometext {
    text-align: left !important;
    margin-top: -5em;
  }

  .hometext h1:nth-child(2) {
    line-height: 1;
  }    

  .home1 {
    width: 90% !important;
  }

  .home2 {
    width: 90% !important;
  }

  .home1 .home-img {
    margin-top: -4%;
  }

  .home2 .home-img {
    margin-top: -3.6%;
  }

  #about {
    position: relative;
    /* display: grid; */
    grid-template-columns: 1.7fr 1fr;
    align-items: center;
    gap: 3rem;
    /* gap: 2rem; */
    width: 100%;
    /* padding: 0px 5% 30px 0% !important;  */
    padding: 0px 0% 0px 0% !important; 
  }

  .home-txt {
    margin: 21% 10% 15% 10%;
    max-width: 750px;
  }

  .home-txt2 {
    margin: 21% 10% 15% 10%;
    max-width: 750px;
  }

  .introtext {
    font-size: 6.5rem;
  }

  .about-txt {
    /* text-align: -webkit-center; */
    /* margin-right: 1rem; */
    padding-left: 48px;
    padding: 8%;
    /* max-width: 600px; */
    max-width: 750px;
  }

  .about-txt h2, p {
    text-align: left;
  }

  .menu-back {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .drink-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 6rem;
    width: 100%;
  }

  .drink-grid p {
    /* text-align: left; */
    text-align: center;
  }  

  .cooler-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 6rem;
    width: 100%;
  }

  .cooler-grid p {
    /* text-align: left; */
    text-align: center;
  }  

  .store-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 3em; */
    grid-row-gap: 6em;
    grid-column-gap: 2em;
  }

  .store-card p {
    text-align: left;
  }

  .social-grid {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    /* grid-template-columns: auto auto; */
    align-items: center;
    text-align: center;
    gap: 2em;
    /* gap: 8em; */
    width: 100%;
    /* padding: 5% 9% 5% 3%; */
    /* padding: 5% 8% 5% 3%; */
    padding: 5% 8% 0% 3%;
  }
    
  .social-links {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.8em;
    text-align: center;
    width: 100%;
    justify-content: center;
  }

  section {
    /* padding: 70px 5% 70px !important; 
    padding: 50px 5% 50px !important;  */
  }

  .bullgap div {
    /* width: 600% !important; */
    width: 400% !important;
    animation: marquee 60s linear infinite !important;
  }  

  .bullgaprev div {
    /* width: 600% !important; */
    width: 400% !important;
    animation: marqueerev 60s linear infinite !important;
  }  
}

/* .newhome::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: #355f08;
  mix-blend-mode: multiply;
} */


/* .home-left {
  mask-image: linear-gradient(transparent,
  black 0%,
  black 80%,
  transparent 100%);
-webkit-mask-image: linear-gradient( to right,transparent,
  black 0%,
  black 80%,
  transparent 100%);
} */

.home-txt::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 50%;
}

.home-txt1::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: var(--txt-color-dark);
  mix-blend-mode: hard-light;
  opacity: 0.75;
}

.home-txt2::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  /* background: var(--background);
  mix-blend-mode: hard-light;
  opacity: 0.6; */
  background: var(--txt-color-dark);
  mix-blend-mode: hard-light;
  opacity: 0.75;
}


.container {
  position: relative;
  text-align: center;
  /* width: 100dvw; */
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered h1 {
  font-size: 10rem;
}

.centered img {
  width: 20dvw;
}

.centered h1:nth-child(1) {
  color: #000; /* Fallback for older browsers */
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 3px white; /* width and color */
  /* font-family: 'Korolev Heavy' !important; */
  /* font-size: 10dvw; */
}

.centered h1:nth-child(2) {
  color: white;
  /* font-family: 'Korolev Heavy' !important; */
  font-size: 10dvw;
  font-kerning: normal;
}

section {
  padding: 5rem 5% 5rem;
}
  
.home {
  position: relative;
  align-items: center;
  width: 100%;
  /* height: 85dvh; */
  background-image: var(--backgroundimage);

  background-position: 0 0,0 0;
  background-size: auto, auto;
  /* animation: returnToOrigin 0.5s ease-out forwards, scroll 600s linear infinite; */
  animation: returnToOrigin 0.5s ease-out forwards, scroll 1000s linear infinite;
  animation-delay: 0.1s;
  transition: fill 600ms cubic-bezier(0.215, 0.61, 0.355, 1),opacity 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
}

.home a {
  font-family: 'Primana Thin'; 
  letter-spacing: 0.05em;
  line-height: 2.1rem;
}

.home h3 {
  font-family: 'Primana Thin';
  /* font-family: 'Korolev'; */
  font-weight: 600;
  text-wrap: balance;
  padding-top: 0.25em;
  padding-bottom: 0.1em;
  /* font-size: 40px !important;
  line-height: 50px !important; */
}

#home1 {
  background: url('assets/images/pa.jpg');
  background-image:  url('assets/images/pa.jpg');
  /* background-image: url(bulldark.png); */
  /* aspect-ratio: 16/9; */
  /* background-size: cover; */
  

  background-size: auto, auto;
  background-repeat: no-repeat;

  background-position: 0px 10%;
}


@keyframes scroll {
  100% {
    /* background-position: 0px -400%; */
    background-position: 0px -400%;
  }
}

/* Fallback if the operatring system prefers reduced motion*/
@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 600s linear infinite;
  }
}

#home2 {
  background: url('assets/images/co.jpg');
  background-image:  url('assets/images/co.jpg');

  /* background: url('pa.jpg');
  background-image:  url('pa.jpg'); */

  background-size: auto, auto;
  background-repeat: no-repeat;
  background-position: 0px 5%;

  /* perspective: 1000px;
  perspective-origin: 50% 50%; */
}

.bullgap {
  overflow: hidden;
  position: relative;
  float: left;
  /* margin-top: -6em;
  margin-bottom: 2em; */
}

.bullgap div {
  overflow: hidden;
  position: relative;
  float: left;
  width: 1400%;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

.bullgap span {
  float: left;
  width: 50%;
}

.bullgaprev {
  overflow: hidden;
  position: relative;
  /* float: right; */
  /* margin-top: 2em;
  margin-bottom: 2em;  */
}

.bullgaprev div {
  overflow: hidden;
  position: relative;
  float: right;
  width: 1400%;
  animation: marqueerev 30s linear infinite;
}

@keyframes marqueerev {
  0% { right: 0; }
  100% { right: -100%; }
}

.bullgaprev span {
  float: right;
  width: 50%;
}

.bullimg {
  width: 150px;
  height: 150px;
  object-fit: contain;
  position: relative;
}

.slide-div {
  display:none;
}

.homeimg {
  justify-self: right;
}

.homeimg img {
  object-fit: contain;
  width: 40rem;
  height: auto;
}

.introtext {
  /* font-family: 'korolev heavy'; */
  font-weight: 600;
  /* font-size: 2.5rem; */
  text-align: center;
  font-kerning: normal;
  line-height: 3rem;
  padding-bottom: 1.5rem;
}

.introtext1 {
  color: var(--background);
}

.introtext2 {
  /* color: var(--txt-color-dark); */
  color: var(--background);
}

.hometext {
  text-align: center;
  justify-self: left;
}

.btn-style {
  background: var(--txt-color-dark);
  color: var(--background);
  color: white;

  transition: background-color 1s;
  /* padding: 8px 15px; use this for smaller screens. for some reason bigger screen needs more top padding */
  padding: 12px 15px 8px;
  padding: 8px 15px;
  border-radius: 0.5rem;
}

.btn-style:hover,
.btn-style:focus,
.btn-style:focus-within {
  background-color: var(--orange);
  color: var(--txt-color-dark);
}

.btn {
  display: inline-block;
  /* padding: 15px 20px; */
  padding: 18px 20px 14px;
  padding: 15px 20px;
  background-color: var(--orange);
  color: var(--txt-color-dark);
  color: #0c0c0c;
  /* color: var(--background); */
  font-kerning: normal;
  letter-spacing: 0.3px;
  /* font-size: 1.1rem; */
  font-size: 1.25rem;
  font-size: 2rem;
  font-weight: 400;
  transition: background-color 1s;
  text-decoration: none;
  /* margin: 0.5em 0.25em 0 0.25em; */
  margin-top: 1rem;
  border-radius: 1rem;
}

.btn:hover,
.btn:focus,
.btn:focus-within {
  background: var(--txt-color-dark);
  background: var(--background);
  color: white;
  color: var(--txt-color-dark);
  font-weight: 900;

}

main {
  width: min(70ch, 100% - 4rem);
  margin-inline: auto;
}

img {
  max-width: 100%;
  display: block;
}

.sideways {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: "Hepta Slab";
  font-weight: 900;
}

.trailer-img {
  animation: returnToOrigin 0.3s ease-out forwards;
  animation-delay: 0.3s;
  transition: fill 600ms cubic-bezier(0.215, 0.61, 0.355, 1),opacity 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
  padding-top: 100px;
}

.coffee-img {
  animation: moverdown 3s infinite alternate, scale 0.4s ease-out forwards;
  opacity: 0;
  animation-delay: 0.5s;
} 

.coffee-anim1 {
  /* right: 150px; */
  right: 2vw;
  position:absolute; 
  top: 1vw;  
  /* height: 350px !important; */
  height: 22vw !important;
  /* width: 350px !important; */
  rotate: -2deg;
  animation: moverdown 3s infinite alternate, slide-in 2.5s;
  opacity: 0;
}

.coffee-anim2 {
  /* left: 230px; */
  left: 19vw;
  position:absolute; 
  top: 6vw;
  /* height: 350px !important; */
  height: 22vw !important;
  /* width: 350px !important; */
  rotate: 2deg;
  animation: moverdown 3.6s infinite alternate, slide-in 2.5s;
  opacity: 0;
}

.coffee-anim3 {
  position:absolute; 
  left: 12vw;
  top: 130px;  
  /* height: 350px !important; */
  height: 22vw !important;
  /* width: 350px !important; */
  animation: moverup 3.3s infinite alternate, slide-in 2.5s;
  opacity: 0;
}


/* .coffee-anim1 {
  right: 150px;
  position:absolute; 
  top: 35px;  
  height: 350px !important;
  width: 350px !important;
  rotate: -2deg;
  animation: moverdown 3s infinite alternate, slide-in 2.5s;
  opacity: 0;
}

.coffee-anim2 {
  left: 150px;
  position:absolute; 
  top: 25px;
  height: 350px !important;
  width: 350px !important;
  rotate: 2deg;
  animation: moverdown 3.6s infinite alternate, slide-in 2.5s;
  opacity: 0;
}

.coffee-anim3 {
  position:absolute; 
  top: 50px;  
  height: 350px !important;
  width: 350px !important;
  animation: moverup 3.3s infinite alternate, slide-in 2.5s;
  opacity: 0;
} */

.trailer-anim {
  /* top: 35px;  
  height: 350px !important;
  width: 350px !important; */

  rotate: -2deg;
  animation: moverdown 3s infinite alternate, slide-in 2.5s;
  /* animation-delay: 0.2s; */
  opacity: 0;
}


@keyframes slide-in {
  0% {
    transform: translateY(calc(20vh - 90rem));
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes moverup {
  0% { transform: translateY(-10px); opacity: 1; }
  25% { opacity: 1; }
  100% { transform: translateY(0px); opacity: 1; }
}
@keyframes moverup {
  0% { transform: translateY(-10px); opacity: 1; }
  25% { opacity: 1; }
  100% { transform: translateY(0px); opacity: 1; }
}

@-webkit-keyframes moverdown {
  0% { transform: translateY(10px); opacity: 1; }
  25% { opacity: 1; }
  100% { transform: translateY(0px); opacity: 1; }
}
@keyframes moverdown {
  0% { transform: translateY(10px); opacity: 1; }
  25% { opacity: 1; }
  100% { transform: translateY(0px); opacity: 1; }
}

@keyframes scale {
  0% {
    transform: scale(0.7);
  }
  25% {
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.home-left {
  width: 50%;
  float: left;
  display: block;
}

.home1 .home-img {
  /* background-image: url('orangetrailer15.png');
  background-image: url('milk6.png'); */
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 675px;
  height: 100%;
  /* display: block; */
  width: 50%;
  float: right;
  /* transition: transform 1s ease-in-out; */
}

.home2 .home-img {
  /* background-image: url('orangetrailer15.png');
  background-image: url('milk6.png'); */
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 675px;
  height: 100%;
  /* display: block; */
  width: 50%;
  float: right;
  /* transition: transform 1s ease-in-out; */
}

.home-img:hover {
  /* scale: 1.1; */
  /* transform: scale(1.025); */
}

.about-right {
  width: 50%;
  float: right;
  display: block;
}

.about-txt h2 {
  /* font-size: clamp(2rem, 1rem + 3.5vw, 7rem) !important; */
  /* font-size: clamp(2rem, 2.5rem + 3.5vw, 7rem) !important; */
  font-size: 85px;
  padding-bottom: 0.2em;
  /* font-family: 'Korolev Heavy' !important; */

}

.tapered {
  /* background-image: linear-gradient(181deg, #fab855 0%, #FF9E3A 50%, transparent 54%, transparent 100%); */
  background-image: linear-gradient(181deg, #fab855 0%, #f08614 50%, transparent 54%, transparent 100%);
}

span {
/* .about-txt span:nth-child(1) { */
  background-size:  100% 15%;
  background-repeat: repeat-x;
  /* background-position: left 0% bottom 10%; */
  background-position: left 0% bottom 0%;
}

.about-txt p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  /* text-wrap: balance; */
  margin-bottom: 15px;
  /* margin-top: 0.5rem; */
}

.about-img {
  background-image: url('assets/images/mariah2.webp');
  background-attachment: scroll;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 675px;
  height: 100%;
  display: block;
  width: 50%;
  float: left;
  z-index: 2;
  position: relative;
}

.about-bull {
  overflow: hidden;
  position: relative;
  float: right;
  margin-top: -2em;
  margin-bottom: 2em; 
}

.about-bull div {
  overflow: hidden;
  position: relative;
  float: right;
  width: 200%;
  animation: marqueerev 45s linear infinite;
}

.about-bull span {
  float: right;
  width: 50%;
}



#menu {
  margin-top: -75px;
  margin-bottom: 4em;
  text-align: center;
  padding: 35rem 0% 70px;
}

#menuheader::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 50%;
  background: orange;
mix-blend-mode: hard-light;
opacity: 0.825;
}

.drink-grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  padding: 0 80px;
  margin-top: 2rem;
}

.drink-card {
  padding: 5%;
  width: 90%;
  /* background-image: var(--backgroundimage); */
  height: fit-content;
  justify-self: center;
  /* transition: scale 1.5s ease-in-out; */
  border-radius: 2rem;
  /* border: 1.5px solid var(--txt-color-dark); */
}

.drink-card:hover,
.drink-card:active,
.drink-card:focus{
  /* transform: scale(1.075); */
}

.drink-grid h4 {
  font-size: 2.8rem !important;
  font-size: 3rem !important;
  line-height: 3.8rem !important;
  padding-bottom: 1rem;
  position: relative;
  z-index: 2;
}

.drink-grid h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0.2em 0 0.2em;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
}

.drink-grid p {
  font-size: 1.8rem !important;
  font-size: 2rem !important;
  line-height: 3rem !important;
  text-wrap: balance;
  /* width: 50%; */
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2.5rem;
  position: relative;
  z-index: 2;
}

.drink-grid img {
  width: 55%;
  height: auto;
  display: inline;
  padding-top: 4rem;
  padding-bottom: 2rem;
  transition: scale 1.5s ease-in-out;
  position: relative;
  z-index: 2;
  /* background-color: var(--background); */
}

.drink-grid img:hover,
.drink-grid img:active,
.drink-grid img:focus{
  transform: scale(1.075);
}

.cooler-grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  padding: 0 80px;
  margin-top: 1rem;
}

.cooler-card {
  padding: 5%;
  width: 90%;
  /* background-image: var(--backgroundimage); */
  height: fit-content;
  justify-self: center;
  /* transition: background-color 0.75s ease-in-out; */
  border-radius: 2rem;
  /* border: 1.5px solid var(--txt-color-dark); */
}

.cooler-card:hover,
.cooler-card:active,
.cooler-card:focus{
  /* background-color: var(--background); */
}


.cooler-grid h4 {
/* .cooler-card h4 { */
  font-size: 2.8rem !important;
  font-size: 3rem !important;
  line-height: 3.4rem !important;
  padding-bottom: 1rem;
  position: relative;
  z-index: 2;
}

.cooler-grid h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0.2em 0 0.2em;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
}

.cooler-grid p {
  font-size: 1.8rem !important;
  font-size: 2rem !important;
  line-height: 3rem !important;
  text-wrap: balance;
  /* width: 50%; */
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2.5rem;
  position: relative;
  z-index: 2;
}

.cooler-grid img {
  width: 60%;
  height: auto;
  display: inline;
  padding-top: 4rem;
  padding-bottom: 2rem;
  position: relative;
  z-index: 2;
}

.cooler-grid img:hover {
  transform: scale(1.075);
}

.cooler-grid img:active {
  transform: scale(1.075);
}

.cooler-grid img:focus {
  transform: scale(1.075);
}

.slider {
  width: 100%;
  height: 350px;
  position: relative;
  overflow-x: clip;
}

.slider-mob {
  width: 100%;
  height: 350px;
  position: relative;
  overflow-x: clip;
}

.drink-slide {
  width: 100%;
  height: 350px;
  position: absolute;
  transition: all 0.5s;
}

.drink-slide-mob {
  width: 100%;
  height: 350px;
  position: absolute;
  transition: all 0.5s;
}

.cooler-slide {
  width: 100%;
  height: 350px;
  position: absolute;
  transition: all 0.5s;
}

.cooler-slide-mob {
  width: 100%;
  height: 350px;
  position: absolute;
  transition: all 0.5s;
}

.slide-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  /* padding: 10px; */
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  /* background-color: #fff; */
  background-image: var(--backgroundimage);
  font-size: 150% !important;
}

.slide-btn:active {
  transform: scale(1.1);
}

.drink-btn-prev {
  top: 55%;
  left: 3%;
}

.drink-btn-next {
  top: 55%;
  right: 3%;
}

.drink-btn-prev:hover,
.drink-btn-prev:focus,
.drink-btn-prev:active {
  transform: scale(1.1);
}

.drink-btn-next:hover,
.drink-btn-next:focus,
.drink-btn-next:active {
  transform: scale(1.1);
}

.drink-btn-prev-mob {
  top: 50%;
  left: 0%;
}

.drink-btn-next-mob {
  top: 50%;
  right: 0%;
}

.drink-btn-prev-mob:hover,
.drink-btn-prev-mob:focus,
.drink-btn-prev-mob:active {
  transform: scale(1.05);
}

.drink-btn-next-mob:hover,
.drink-btn-next-mob:focus,
.drink-btn-next-mob:active {
  transform: scale(1.05);
}

.cooler-btn-prev {
  top: 55%;
  left: 3%;
}

.cooler-btn-next {
  top: 55%;
  right: 3%;
}

.cooler-btn-prev:hover,
.cooler-btn-prev:focus,
.cooler-btn-prev:active {
  transform: scale(1.1);
}

.cooler-btn-next:hover,
.cooler-btn-next:focus,
.cooler-btn-next:active {
  transform: scale(1.1);
}

.cooler-btn-prev-mob {
  top: 50%;
  left: 0%;
}

.cooler-btn-next-mob {
  top: 50%;
  right: 0%;
}

.cooler-btn-prev-mob:hover,
.cooler-btn-prev-mob:focus,
.cooler-btn-prev-mob:active {
  transform: scale(1.1);
}

.cooler-btn-next-mob:hover,
.cooler-btn-next-mob:focus,
.cooler-btn-next-mob:active {
  transform: scale(1.1);
}

.inter-back {
  mix-blend-mode: lighten;
}

.inter-back2 {
  mix-blend-mode: color;
}

.inter-back3 {
  mix-blend-mode: multiply;
}

#store {
  /* margin-bottom: 4em; */
  text-align: center;
}

#store::after {
  /* content:''; */
  border-bottom: 3px solid var(--orange);
  width:75%;
  bottom:0;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4em;
}

.menu-back::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background: var(--txt-color-dark);
  mix-blend-mode: hard-light;
  opacity: 0.67;
}

#store h2 {
  /* font-size: 5rem; */
  /* font-size: clamp(2rem, 1rem + 3.5vw, 7rem) !important; */
  /* font-size: clamp(2rem, 2.5rem + 3.5vw, 7rem) !important; */
  /* margin-bottom: 0.3em; */
}

#store img {
  width: 80%;
  position: relative;
  z-index: 2;
  margin-top: 2rem;
}

.store-grid {
  justify-content: center;
  text-align: center;
  text-align: -webkit-center;
  /* padding-top: 2rem; */
}

/* .store-grid h3 {
  margin-top: 0.5em;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0.2em 0 0.2em;
}

.store-grid p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  text-wrap: balance;
  text-align: center;
} */

.store-grid h4 {
  /* font-size: 2.8rem !important; */
  padding-bottom: 0.5rem;
  position: relative;
  z-index: 2;
}

.store-grid h3 {
  font-size: 3rem !important;
  line-height: 4rem !important;
  padding: 0 0 0.5rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
}

.store-grid p {
  /* font-size: 1.8rem !important;
  font-size: 2rem !important; */
  line-height: 3rem !important;
  text-wrap: balance;
  /* width: 50%; */
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
  padding-top: 0.5rem;
  text-align: center;
  position: relative;
  z-index: 2;
}

.store-grid img {
  width: 55%;
  height: auto;
  display: inline;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-radius: 2rem;
  /* background-color: var(--background); */
}

.store-card {
  padding: 5%;
  width: 90%;
  /* background-image: var(--backgroundimage); */
  height: fit-content;
  justify-self: center;
  transition: background-color 0.75s ease-in-out;
  /* border-radius: 2rem; */
  /* border: 1.5px solid var(--txt-color-dark); */
}

.store-card:nth-child(3) {
  border: none;
  background-image: none;
}

.cardback {
  position: relative;
}

.cardback::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  background-image: url("assets/images/noise.webp"),linear-gradient(#fdf4e5 30%,#fde4c0  80%);
  background-image: url("assets/images/noise.webp"),linear-gradient(#fdf4e5 30%,#fde1ba  80%);
  mix-blend-mode: multiply;
  border-radius: 2rem;
}

.cardback2 {
  position: relative;
}

.cardback2::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  background-image: url("assets/images/noise.webp"),linear-gradient(#fdf4e5 30%,#fff5e5 80%);
  
  mix-blend-mode: hard-light;
  border-radius: 2rem;
}

.tumbler-slide {
  /* width: 100%; */
  max-width: 800px;
  position: absolute;
  transition: all 0.5s;

  padding: 5%;
  /* background-image: var(--backgroundimage); */
  height: fit-content;
  justify-self: center;
  transition: background-color 0.75s ease-in-out;
  border-radius: 1rem;
  /* border: 1.5px solid var(--txt-color-dark); */
}

.tumbler-slide::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  background-image: var(--backgroundimage);
  mix-blend-mode: hard-light;
  border-radius: 2rem;
}

.tumbler-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tumbler-btn-prev {
  top: 50%;
  left: 4%;
}

.tumbler-btn-next {
  top: 50%;
  right: 4%;
}

.tumbler-btn-prev:hover,
.tumbler-btn-prev:focus,
.tumbler-btn-prev:active {
  transform: scale(1.5);
}

.tumbler-btn-next:hover,
.tumbler-btn-next:focus,
.tumbler-btn-next:active {
  transform: scale(1.5);
}

.social-grid {
  /* padding: 8%; */
}

.social-grid img {
  object-fit: contain;
  width: 60rem;
  /* width: 38em; */
  height: auto;
  justify-self: center;
  rotate: -3deg;
}

.social-contact {
  /* padding: 0 10em 5em;  */
  text-align: center;
}

.social-links {
  padding: 8%;
}

.social-links img {
  width: clamp(3rem, 1rem + 6vw, 10rem);
}

footer {
  position: relative;
  z-index: 999;
  width: 100%;
  /* background-color: #20140b; */
  background-image: url("assets/images/noise.webp"),linear-gradient(#1a1009, #1a1009);
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0% 2%;
}

.footer-logo {
  padding: 0px 1rem 1.2rem;
  margin-left: 3em;
}

footer img {
  width: 80px;
  height: auto;
}

.footer-link {
  padding: 1em;
}

.footer-links a:nth-child(4) {
  padding-right: 2.5em;
}

.footer-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-links a {
  color: #E5D8B2;
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  transition: opacity 150ms ease-in-out;
  letter-spacing: 0.1em;
  font-kerning: normal;
  font-family: "Recoleta-SemiBold";
  font-weight: 500;
  /* font-family: "diazo-mvb-ex-cond", sans-serif; */
  /* font-family: 'korolev'; */
  font-weight: 600;
  font-style: normal;
  position: relative;
}

.footer-links a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;  
}


.footer-links img {
  width: 50px;
  height: auto;
}

.footer-social {
  display: flex;
  justify-content: flex-end;
  margin-right: 3em;
}

.footer-social img {
  width: 50px;
  height: auto;
  padding: 5px;
}

.fcf-form-group {
  margin-bottom: 2.5rem;
}

.fcf-h3 {
  /* font-size: clamp(2rem, 2.5rem + 3.5vw, 7rem) !important; */
  /* font-size: 3.5rem; */
}

.fcf-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  /* letter-spacing: 5px; */
}

.fcf-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.5rem 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--txt-color-dark);
  /* background-color: #fff; */
  background-color: #f3efe2;
  background-clip: padding-box;
  /* border: 1px solid #ced4da; */
  border: 2px solid #2c2c2c;
  font-family: "Recoleta-Medium";
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
  border: 3px solid var(--txt-color-dark);
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
  height: auto;
}

textarea.fcf-form-control {
  height: auto;
}

label.fcf-label {
  display: inline-block;
  display: flex;
  margin-bottom: 0.5rem;
  /* font-size: 1.3rem; */
}

.fcf-credit {
  padding-top: 10px;
  font-size: 0.9rem;
  color: #545b62;
}

.fcf-credit a {
  color: #545b62;
  text-decoration: underline;
}

.fcf-credit a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.fcf-btn {
  display: inline-block;
  font-weight: 400;
  /* color: #212529; */
  color: var(--txt-color-dark);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-size: 2rem !important;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#fcf-form-id {
  padding-top: 0.5em;
  text-align: left;
}

@media (prefers-reduced-motion: reduce) {
  .fcf-btn {
      transition: none;
  }
}

.fcf-btn:hover {
  color: #212529;
  text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
  background-color: var(--orange);  
  color: var(--txt-color-dark);
  font-size: 1.3rem;
  font-weight: 700;
  transition: background-color 1s;
  text-decoration: none;
}

.fcf-btn-primary:hover {
  background: var(--txt-color-dark);
  color: #fff;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
  background: var(--txt-color-dark);
  color: #fff;
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.fcf-btn-block {
  display: block;
  width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
  width: 100%;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

@keyframes returnToOrigin {
  to {
    transform: translate(0);
    opacity: 1;
  }
}

.social-img {
  background-image: url('assets/images/tape5.webp');
  background-attachment: scroll;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 675px;
  height: 100%;
  display: block;
  width: 50%;
  float: left;
}