@import url('https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');


@font-face {
  font-family: "OPTIRodeo";
  src: url('OPTIRodeo.otf') format("opentype");
}

@font-face {
  font-family: "Zuume Regular";
  src: url('Zuume Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Zuume Medium";
  src: url('Zuume Medium.ttf') format("truetype");
}

@font-face {
  font-family: "Cabin";
  src: url('Cabin.ttf') format("truetype");
}

@font-face {
  font-family: "Archivo Black";
  src: url('ArchivoBlack.ttf') format("truetype");
}

@font-face {
  font-family: "Archivo";
  src: url('Archivo.ttf') format("truetype");
}

@font-face {
  font-family: "Fjalla";
  src: url('Fjalla.ttf') format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url('Inter.ttf') format("truetype");
}

@font-face {
  font-family: "Rokkitt";
  src: url('Rokkitt.ttf') format("truetype");
}

@font-face {
  font-family: "Recoleta-Black";
  src: url('Recoleta-Black.ttf') format("truetype");
}

@font-face {
  font-family: "Recoleta-Regular";
  src: url('Recoleta-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Recoleta-Medium";
  src: url('Recoleta-Medium.ttf') format("truetype");
}

@font-face {
  font-family: "Recoleta-SemiBold";
  src: url('Recoleta-SemiBold.ttf') format("truetype");
}

@font-face {
  font-family: "Recoleta-Bold";
  src: url('Recoleta-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "RecoletaAlt-Black";
  src: url('RecoletaAlt-Black.ttf') format("truetype");
}

@font-face {
  font-family: "RecoletaAlt-Regular";
  src: url('RecoletaAlt-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "RecoletaAlt-Medium";
  src: url('RecoletaAlt-Medium.ttf') format("truetype");
}

@font-face {
  font-family: "RecoletaAlt-SemiBold";
  src: url('RecoletaAlt-SemiBold.ttf') format("truetype");
}

@font-face {
  font-family: "RecoletaAlt-Bold";
  src: url('RecoletaAlt-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "Primana";
  src: url('Primana.ttf') format("truetype");
}

@font-face {
  font-family: "Korolev Heavy";
  src: url('Korolev Heavy.ttf') format("truetype");
}

@font-face {
  font-family: "Primana Thin";
  src: url('Primana Thin.ttf') format("truetype");
}

@font-face {
  font-family: "Facultad";
  src: url('Facultad.otf') format("opentype");
}

:root {
  /* --txt-color-dark: #1d171f; */
  --txt-color-dark: #0b090c;
  --background: #f2f0e3;
  --orange: #ff9e3a;

  --shadow-color: 280deg 25% 0%;
  --shadow-elevation-low:
    0px 0.8px 1px hsl(var(--shadow-color) / 0.28),
    0px 1.5px 1.8px -0.9px hsl(var(--shadow-color) / 0.34),
    -0.1px 3.4px 4.1px -1.9px hsl(var(--shadow-color) / 0.4);
  --shadow-elevation-medium:
    0px 0.8px 1px hsl(var(--shadow-color) / 0.29),
    -0.1px 3.1px 3.8px -0.6px hsl(var(--shadow-color) / 0.34),
    -0.2px 7.3px 8.9px -1.3px hsl(var(--shadow-color) / 0.39),
    -0.5px 17.1px 20.8px -1.9px hsl(var(--shadow-color) / 0.43);
  --shadow-elevation-high:
    0px 0.8px 1px hsl(var(--shadow-color) / 0.27),
    -0.2px 6.1px 7.4px -0.3px hsl(var(--shadow-color) / 0.29),
    -0.3px 11.2px 13.6px -0.5px hsl(var(--shadow-color) / 0.32),
    -0.5px 17.7px 21.5px -0.8px hsl(var(--shadow-color) / 0.34),
    -0.8px 27.2px 33.1px -1.1px hsl(var(--shadow-color) / 0.36),
    -1.2px 41.1px 50px -1.4px hsl(var(--shadow-color) / 0.38),
    -1.8px 61px 74.1px -1.6px hsl(var(--shadow-color) / 0.4),
    -2.6px 88.5px 107.6px -1.9px hsl(var(--shadow-color) / 0.42);

}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}  

body {
    font-family: system-ui;
    font-size: 1.125rem;
    line-height: 0.5;
    /* line-height: 1.5; */
    /* background-image: url("noise.png"),linear-gradient(#ebe2cb,#ebe2cb); */
    /* background-image: url("noise.png"),linear-gradient(#FAF0E4,#FAF0E4); */
    /* background-image: url("noise.png"),linear-gradient(#f3e4d1,#f3e4d1); */
    background-image: url("noise.png"),linear-gradient(#f6e4ce,#f6e4ce);    


    background-position: 0 0,0 0;
    background-size: auto, auto;
}

.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
} 

h1,
h2,
h3,
h4,
p {
  color: var(--txt-color-dark);
}

h2 {
  font-family: "RecoletaAlt-Black";
  font-weight: 800;

  font-size: 55px !important;
  line-height: 69px !important;
  padding-bottom: 1.5rem !important;
}

h3,
h4 {
  font-family: "Recoleta-Bold";
  font-weight: 500;
}

label {
  font-family: "Primana Thin";
  padding-left: 1em;
  font-weight: 700;
  /* letter-spacing: 0.2em; */
}

button,
.btn {
  font-family: "Primana";
}

nav a {
  /* font-family: "Primana"; */
  font-family: 'Korolev Heavy';
  /* font-family: "Recoleta-Black"; */
  font-weight: 700;
  font-style: normal;
}

p,
textarea {
  /* font-family: "RecoletaAlt-Regular"; */
  font-family: "Primana Thin";
  /* font-family: "diazo-mvb-ex-cond"; */

  /* font-weight: 500; */
}

p {
  /* letter-spacing: -0.2px; */
  font-size: 18px !important;
  line-height: 1.6em !important;
  margin: 0 0 15px !important;
  /* text-wrap: balance; */
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.next-event { 
  position: relative;
  z-index: 999;
  width: 100%;
  text-align: center;
  align-items: center;
  background-color: var(--accent-color);
  animation: returnToOrigin 0.3s ease-out forwards;
  animation-delay: 0.3s;
  transition: fill 600ms cubic-bezier(0.215, 0.61, 0.355, 1),opacity 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
}

.event-txt {
  display: flex;
  justify-content: center;
  place-self: center;
  font-size: 1.2rem;
}

.next-event h2 {
  display: none;
  justify-self: left;
  padding-left: 1em;
  font-size: 1.4rem;
}

.event-txt img {
  width: 25px;
  height: fit-content;
  margin: 0px 6px 0 6px;
}

.event-date {
  display: flex;
  gap: 1.25em;
}

.event-date h3 {
  font-weight:600;
}

.event-social {
  display: none;
}

.event-social img {
  width: 40px;
  height: auto;
  padding: 5px;
}

#header {
  position: fixed;
  text-align: center;
  z-index: 999;
  width: 100%;
  padding: 22px 0 22px;
  border-color: var(--txt-color-dark);
  /* border-bottom: 2.5px solid; */
}

.logo-contain {
  display: grid;
  grid-template-rows: auto auto auto;
  align-items: center;
  justify-content: center;
  justify-self: left;
  margin-left: 4em;
}

#round-title {
  position: relative;
  width: 5rem;
  border-radius: 50%;
  transform: rotate(-24deg);
  right: 28px;
  margin-bottom: 26px;
  margin-top: 5px;
  display: none;
}

#round-title span {
  font-family: "Recoleta-Bold";
  font-size: 1rem;
  font-kerning: normal;
  height: 155px;
  position: absolute;
  width: 20px;
  left: 0;
  top: 0;
  transform-origin: bottom center;
}

.mobile-logo {
  display: block;
  width:60px;
  margin-left: auto;
  margin-right: auto;
}

.logo-contain h3 {
  font-size: 0.72rem;
  font-weight: 800; 
  display: none;
  transform: translate(-0.5px, -3px);
}

.navi {
  padding-bottom: 20px;
}

.navi-list li:not(.centered-logo) {
  flex: 1 0 auto;
  text-align: center;
  padding: 8px 0 8px;
}

.logo {
  width: 200px;
  /* margin-top: -40px; */
  margin-top: -45px;
  justify-self: center;
   /* background-image: url("noise.png"),linear-gradient(#ebe2cb,#ebe2cb); */
   /* background-image: url("noise.png"),linear-gradient(#FAF0E4,#FAF0E4); */
   background-image: url("noise.png"),linear-gradient(#f6e4ce,#f6e4ce);    

   background-position: 0 0,0 0;
   background-size: auto, auto;
   padding: 6px;
   left: 50%;
   top: 0;
   margin-left: -60px !important;
   animation: returnToOrigin 0.5s ease-out forwards;
  animation-delay: 0.1s;
  opacity: 0;
  transition: fill 600ms cubic-bezier(0.215, 0.61, 0.355, 1),opacity 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  display: none;
  border-radius: 50%;
  border-color: var(--txt-color-dark);
  /* border: 2px solid; */
}

#cover {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  /* background-image: url("noise.png"),linear-gradient(#ebe2cb,#ebe2cb); */
  /* background-image: url("noise.png"),linear-gradient(#FAF0E4,#FAF0E4); */
  background-image: url("noise.png"),linear-gradient(#f6e4ce,#f6e4ce);    

  line-height: 0.5 !important;
  background-position: 0 0,0 0;
  background-size: auto, auto;
  z-index:-100;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
    
.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
  
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 3.5px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
  
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}
  
.nav-toggle-label span::before {
  bottom: 7px;
}
  
.nav-toggle-label span::after {
  top: 7px;
}
  
nav {
  position: absolute;
  text-align: left;
  left: 0;
  background-size: cover;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;  
  /* background-image: url("noise.png"),linear-gradient(#ebe2cb,#ebe2cb); */
  /* background-image: url("noise.png"),linear-gradient(#FAF0E4,#FAF0E4); */
  background-image: url("noise.png"),linear-gradient(#f6e4ce,#f6e4ce);    

  
}
  
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
  
/* nav li {
  margin-bottom: 1em;
  margin-left: 1em;
} */
  
nav a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  /* font-size: 1.3rem; */
  font-kerning: normal;
  /* letter-spacing: 0.1em; */
  letter-spacing: 0.05em;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:nth-last-child() {
  background: linear-gradient(180deg, var(--orange), transparent) var(--orange);
}
  
/* nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3.5px;
  text-underline-offset: 4px;
} */

nav li:not(:last-child) a::before {   
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272F;
  /* bottom: 0; */
  bottom: -4px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

nav li:not(:last-child) a:hover::before {   
  transform-origin: left;
  transform: scaleX(1);
}

nav li:nth-child(3) a:before {
  content: none;
}
  
.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}
  
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.social-stick {
  position: fixed;
  top: 60%;
  left: 0;
  z-index: 1;
  display: none;
}

#social-sidebar a {
	background: rgba(0, 0, 0, .7);
	color: #fff;
  text-decoration: none;
	display: block;
	height: 50px;
	width: 50px;  
	line-height: 50px;
	position: relative;
	text-align: center;
  cursor: pointer;

}

#social-sidebar a:hover span {
	left: 140%;
	opacity: 1;
}

.social-stick img {
  width: 50px;
  /* margin: 5px; */
  margin: 5px 8px 5px;
}

@media screen and (max-width: 1544px) {

  .about-txt {
    transform: translateY(50px);
  }

}

@media screen and (min-width: 950px) {
  .mobile-logo {
    display: none;
  }

  #round-title {
    display: block;
  }

  .nav-toggle-label {
    display: none;
  }

  .next-event {
    display: grid;
    grid-template-columns: 1.5fr 2fr 0.3fr;
  }

  .event-social {
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
  }

  .next-event h2 {
    display: block;
  }    

  .social-stick {
    display: block;
  }
  
  /* #header {
    display: grid;
    grid-template-columns: 2fr auto minmax(600px, 3fr) 1fr;
  } */
    
  .logo-contain h3 {
    display: block;
  }

  .logo {
    display:block;
  }
  
  .navi {
    padding-bottom: 0;
  }

  .navi-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  nav li:nth-child(2) {
    margin-right: 60px;
    margin-left: 0px;
    padding-left: 40px;
  }
  
  nav li:nth-child(4) {
    margin-left: 100px;
    margin-right: -60px;
    padding-right: 0px;
  }  
    
  nav {      
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    /* left: -4em;
    grid-column: 3/5;
    display: flex;
    justify-content: flex-end;
    align-items: center; */
  }
    
  nav ul {
    display: flex;
  }
    
  nav li {
    margin-left: 2em;
    margin-bottom: 0;
  }
    
  nav a {
    opacity: 1;
    position: relative;
  }
    
  nav a:hover::before {
    transform: scale(1,1);
  }

  .home {
    position: relative;
    display: grid;
    /* grid-template-columns: 1fr auto; */
    grid-template-columns: auto auto;
    gap: 5rem;
    /* gap: 2em; */
    align-items: center;
    width: 100%;
    justify-items: center;
    /* padding: 160px 10% 0px !important;  */
    padding: 160px 10% 0px !important; 
  }  

  #home1 {
    /* animation: returnToOrigin 0.5s ease-out forwards, scroll 100s linear infinite !important; */
  }

  .introtext {
    font-size: clamp(2rem, 1rem + 4.5vw, 7rem) !important;
    /* font-size: 5rem !important; */
    line-height: 5.3rem !important;
    text-align: left !important;
  }
    
  .hometext {
    text-align: left !important;
    margin-top: -5em;
  }

  .hometext h1:nth-child(2) {
    line-height: 1;
  }    

  .homeimg img {
    margin-top: -10em;
  }

  #about {
    position: relative;
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    align-items: center;
    gap: 3rem;
    width: 100%;
    padding: 0px 5% 30px 0% !important; 
  }

  .about-txt {
    text-align: -webkit-center;
  }

  .about-txt h2, p {
    text-align: left;
  }

  .drink-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 6rem;
    width: 100%;
  }

  .drink-grid p {
    /* text-align: left; */
    text-align: center;
  }  

  .store-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 3em;
  }

  .store-card p {
    text-align: left;
  }

  .social-grid {
    position: relative;
    display: grid;
    /* grid-template-columns: 1fr auto; */
    grid-template-columns: auto auto;
    align-items: center;
    text-align: center;
    gap: 2em;
    /* gap: 8em; */
    width: 100%;
    /* padding: 5% 9% 5% 3%; */
    padding: 5% 8% 5% 3%;
  }
    
  .social-links {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.8em;
    text-align: center;
    width: 100%;
    justify-content: center;
  }

  section {
    /* padding: 40px 5% 60px !important;  */
    padding: 70px 5% 70px !important; 
  }

  .bullgap div {
    /* width: 600% !important; */
    width: 400% !important;
    animation: marquee 45s linear infinite !important;
  }  

  .bullgaprev div {
    /* width: 600% !important; */
    width: 400% !important;
    /* animation: marqueerev 45s linear infinite !important; */
    animation: marqueerev 60s linear infinite !important;
  }  
}

.container {
  position: relative;
  text-align: center;
  width: 100dvw;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered h2:nth-child(1) {
  color: #000; /* Fallback for older browsers */
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 3px white; /* width and color */
  font-family: 'Korolev Heavy' !important;
  font-size: 10dvw;
}

.centered h2:nth-child(2) {
  color: white;
  font-family: 'Korolev Heavy' !important;
  font-size: 10dvw;
  font-kerning: normal;
}

.outline-logo {
  /* background-image:url('logooutline.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: -10px -10%; */



}

section {
  padding: 50px 5% 60px;
}
  
.home {
  position: relative;
  align-items: center;
  width: 100%;
  height: 85dvh;
  /* background-image: url("noise.png"),linear-gradient(#F2ECDD,#F2ECDD); */
  /* background-image: url("noise.png"),linear-gradient(#ebe2cb,#ebe2cb); */
  background-image: url("noise.png"),linear-gradient(#f6e4ce,#f6e4ce);    

  background-position: 0 0,0 0;
  background-size: auto, auto;
  animation: returnToOrigin 0.5s ease-out forwards, scroll 600s linear infinite;
  animation-delay: 0.1s;
  transition: fill 600ms cubic-bezier(0.215, 0.61, 0.355, 1),opacity 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
}

.home a {
  font-family: 'Primana Thin'; 
  letter-spacing: 0.05em;
  line-height: 2.1rem;
}

.home h2 {
  font-family: 'Primana Thin';
  text-wrap: balance;
  padding-top: 0.25em;
  padding-bottom: 0.1em;
}

#home1 {
  background: url('pa.jpg');
  background-image:  url('pa.jpg');
  /* background-image: url(bulldark.png); */
  /* aspect-ratio: 16/9; */
  /* background-size: cover; */
  

  background-size: auto, auto;
  background-repeat: no-repeat;

  background-position: 0px 10%;
}


@keyframes scroll {
  100% {
    /* background-position: 0px -400%; */
    background-position: 0px -400%;
  }
}

/* Fallback if the operatring system prefers reduced motion*/
@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 600s linear infinite;
  }
}

#home2 {
  background: url('co.jpg');
  background-image:  url('co.jpg');

  /* background: url('pa.jpg');
  background-image:  url('pa.jpg'); */

  background-size: auto, auto;
  background-repeat: no-repeat;
  background-position: 0px 5%;

  /* perspective: 1000px;
  perspective-origin: 50% 50%; */
}

.bullgap {
  overflow: hidden;
  position: relative;
  float: left;
  /* margin-top: -6em;
  margin-bottom: 2em; */
}

.bullgap div {
  overflow: hidden;
  position: relative;
  float: left;
  width: 1400%;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

.bullgap span {
  float: left;
  width: 50%;
}

.bullgaprev {
  overflow: hidden;
  position: relative;
  float: right;
  margin-top: 2em;
  margin-bottom: 2em; 
  /* filter: blur(1.2px); */
  filter: blur(1px);
}

.bullgaprev div {
  overflow: hidden;
  position: relative;
  float: right;
  width: 1400%;
  animation: marqueerev 30s linear infinite;
}

@keyframes marqueerev {
  0% { right: 0; }
  100% { right: -100%; }
}

.bullgaprev span {
  float: right;
  width: 50%;
}

.bullimg {
  width: 150px;
  height: 150px;
  object-fit: contain;
  position: relative;
}

.slide-div {
  display:none;
}

.homeimg {
  justify-self: right;
}

.homeimg img {
  object-fit: contain;
  width: 40rem;
  height: auto;
}

.introtext {
  font-family: "Recoleta-Black";
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 1px;
  font-kerning: normal;
  line-height: 0.95em;
}

.hometext {
  text-align: center;
  justify-self: left;
}

.btn-style {
  background-color: var(--orange);
  color: var(--txt-color-dark);
  transition: background-color 1s;
  /* padding: 5px 10px; */
  padding: 8px 15px;
  border-radius: 0.5rem;
}

.btn-style:hover,
.btn-style:focus,
.btn-style:focus-within {
  /* background-color: #ffc55a; */
  background: var(--txt-color-dark);
  color: #fff;
}

.btn {
  display: inline-block;
  padding: 15px 20px;
  background: var(--txt-color-dark);
  color: #fff;
  font-kerning: normal;
  letter-spacing: 0.3px;
  /* font-size: 1.1rem; */
  font-size: 1.25rem;
  font-weight: 400;
  transition: background-color 1s;
  text-decoration: none;
  /* margin: 0.5em 0.25em 0 0.25em; */
  margin-top: 0.5em;
  border-radius: 1rem;
}

.btn:hover,
.btn:focus,
.btn:focus-within {
  /* background-color: #ffc55a; */
  background-color: var(--orange);
  color: var(--txt-color-dark);
  font-family: "Recoleta-Bold";
  letter-spacing: 0.2px;
}

main {
  width: min(70ch, 100% - 4rem);
  margin-inline: auto;
}

img {
  max-width: 100%;
  display: block;
}

.sideways {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: "Hepta Slab";
  font-weight: 900;
}

.trailer-img {
  animation: returnToOrigin 0.3s ease-out forwards;
  animation-delay: 0.3s;
  transition: fill 600ms cubic-bezier(0.215, 0.61, 0.355, 1),opacity 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
  padding-top: 100px;
}

.coffee-img {
  animation: moverdown 3s infinite alternate, scale 0.4s ease-out forwards;
  opacity: 0;
  animation-delay: 0.5s;
} 

.coffee-anim1 {
  right: 150px;
  position:absolute; 
  top: 35px;  
  height: 350px !important;
  width: 350px !important;

  rotate: -2deg;
  animation: moverdown 3s infinite alternate, slide-in 2.5s;
  /* animation-delay: 0.2s; */
  opacity: 0;
}

.coffee-anim2 {
  left: 150px;
  position:absolute; 
  top: 25px;
  height: 350px !important;
  width: 350px !important;
  rotate: 2deg;
  animation: moverdown 3.6s infinite alternate, slide-in 2.5s;
  /* animation-delay: 0.2s; */
  opacity: 0;
}

.coffee-anim3 {
  position:absolute; 
  top: 50px;  
  height: 350px !important;
  width: 350px !important;

  animation: moverup 3.3s infinite alternate, slide-in 2.5s;
  /* animation-delay: 0.2s; */
  opacity: 0;
}

.trailer-anim {
  /* top: 35px;  
  height: 350px !important;
  width: 350px !important; */

  rotate: -2deg;
  animation: moverdown 3s infinite alternate, slide-in 2.5s;
  /* animation-delay: 0.2s; */
  opacity: 0;
}


@keyframes slide-in {
  0% {
    transform: translateY(calc(20vh - 90rem));
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes moverup {
  0% { transform: translateY(-10px); opacity: 1; }
  25% { opacity: 1; }
  100% { transform: translateY(0px); opacity: 1; }
}
@keyframes moverup {
  0% { transform: translateY(-10px); opacity: 1; }
  25% { opacity: 1; }
  100% { transform: translateY(0px); opacity: 1; }
}

@-webkit-keyframes moverdown {
  0% { transform: translateY(10px); opacity: 1; }
  25% { opacity: 1; }
  100% { transform: translateY(0px); opacity: 1; }
}
@keyframes moverdown {
  0% { transform: translateY(10px); opacity: 1; }
  25% { opacity: 1; }
  100% { transform: translateY(0px); opacity: 1; }
}

@keyframes scale {
  0% {
    transform: scale(0.7);
  }
  25% {
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.about-txt h2:nth-child(1){
  font-size: clamp(2rem, 1rem + 3.5vw, 7rem) !important;
  /* font-size: 5rem; */
  padding-bottom: 0.1em;
  font-family: 'Korolev Heavy' !important;

}

.tapered {
  background-image: linear-gradient(181deg, #fab855 0%, #FF9E3A 50%, transparent 54%, transparent 100%);
}

span {
/* .about-txt span:nth-child(1) { */
  background-size:  100% 15%;
  background-repeat: repeat-x;
  background-position: left 0% bottom 10%;

}

.about-txt p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  text-wrap: balance;
}

.about-bull {
  overflow: hidden;
  position: relative;
  float: right;
  margin-top: -2em;
  margin-bottom: 2em; 
}

.about-bull div {
  overflow: hidden;
  position: relative;
  float: right;
  width: 200%;
  animation: marqueerev 45s linear infinite;
}

.about-bull span {
  float: right;
  width: 50%;
}


#menu {
  /* margin-bottom: 14em; */
  background-image: url(menubackground.webp);
  margin-bottom: 4em;
  text-align: center;
}

#menu::after {
  content:'';
  border-bottom: 3px solid var(--orange);
  width:75%;
  bottom:0;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: clamp(5em, 6vh + 6em, 10em);
}

#menu h2 {
  /* font-size: 7rem; */
  font-size: clamp(2rem, 1rem + 3.5vw, 7rem) !important;
  /* margin-bottom: 0.3em; */
}

.drink-grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.drink-grid h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0.2em 0 0.2em;
}

.drink-grid p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  text-wrap: balance;
}

.drink-grid img {
  width: 50%;
  height: auto;
  display: inline;
}

.slider {
  width: 100%;
  height: 350px;
  position: relative;
  overflow-x: clip;
  /* margin-bottom: clamp(5em, 6vh + 6em, 10em); */
}

.drink-slide {
  width: 100%;
  height: 350px;
  position: absolute;
  transition: all 0.5s;
}

.slide-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
}

.slide-btn:active {
  transform: scale(1.1);
}

.drink-btn-prev {
  top: 45%;
  left: 2%;
}

.drink-btn-next {
  top: 45%;
  right: 2%;
}

#store {
  /* margin-bottom: 4em; */
  text-align: center;
}

#store::after {
  content:'';
  border-bottom: 3px solid var(--orange);
  width:75%;
  bottom:0;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4em;
}


#store h2 {
  /* font-size: 5rem; */
  font-size: clamp(2rem, 1rem + 3.5vw, 7rem) !important;
  /* margin-bottom: 0.3em; */
}

#store img {
  /* width: 100%; */
  width: 75%;
}

.store-grid {
  justify-content: center;
  text-align: center;
  text-align: -webkit-center;
}

.store-grid h3 {
  margin-top: 0.5em;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0.2em 0 0.2em;
}

.store-grid p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  text-wrap: balance;
  text-align: center;
}

.tumbler-slide {
  width: 100%;
  max-width: 800px;
  position: absolute;
  transition: all 0.5s;
}

.tumbler-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tumbler-btn-prev {
  top: 70%;
  left: 2%;
}

.tumbler-btn-next {
  top: 70%;
  right: 2%;
}

.social-grid {
  /* padding: 8%; */
}

.social-grid img {
  object-fit: contain;
  /* width: 70%; */
  width: 34em;
  height: auto;
  justify-self: center;
  rotate: -3deg;
}

.social-contact {
  /* padding: 0 10em 5em;  */
  text-align: center;
}

.social-links {
  padding: 8%;
}

.social-links img {
  width: clamp(3rem, 1rem + 6vw, 10rem);
}

footer {
  position: relative;
  z-index: 999;
  width: 100%;
  background-color: #1C1A1E;
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 2% 5px;
}

.footer-logo {
  padding: 0px;
  margin-left: 4em;
}

footer img {
  width: 80px;
  height: auto;
  padding: 7px;
}

.footer-link {
  padding: 1em;
}

.footer-links a:nth-child(4) {
  padding-right: 2.5em;
}

.footer-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-links a {
  color: #E5D8B2;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: opacity 150ms ease-in-out;
  letter-spacing: 0.1em;
  font-kerning: normal;
  /* font-family: "Recoleta-SemiBold";
  font-weight: 500; */
  font-family: "diazo-mvb-ex-cond", sans-serif;
  font-weight: 500;
  font-style: normal;
  position: relative;
}

.footer-links a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;  
}


.footer-links img {
  width: 50px;
  height: auto;
}

.footer-social {
  display: flex;
  justify-content: flex-end;
  margin-right: 3em;
}

.footer-social img {
  width: 50px;
  height: auto;
  padding: 5px;
}

.fcf-form-group {
  margin-bottom: 1rem;
}

.fcf-h3 {
  /* font-size: 1.8rem; */
  font-size: 3.5rem;
  /* font-size: clamp(2rem, 1rem + 3.5vw, 7rem) !important; */
}

.fcf-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  letter-spacing: 5px;
}

.fcf-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--txt-color-dark);
  /* background-color: #fff; */
  background-color: #f3efe2;
  background-clip: padding-box;
  /* border: 1px solid #ced4da; */
  border: 2px solid #2c2c2c;
  font-family: "Primana Thin";
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
  border: 3px solid var(--txt-color-dark);
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
  height: auto;
}

textarea.fcf-form-control {
  height: auto;
}

label.fcf-label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}

.fcf-credit {
  padding-top: 10px;
  font-size: 0.9rem;
  color: #545b62;
}

.fcf-credit a {
  color: #545b62;
  text-decoration: underline;
}

.fcf-credit a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.fcf-btn {
  display: inline-block;
  font-weight: 400;
  /* color: #212529; */
  color: var(--txt-color-dark);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#fcf-form-id {
  padding-top: 0.5em;
  text-align: left;
}

@media (prefers-reduced-motion: reduce) {
  .fcf-btn {
      transition: none;
  }
}

.fcf-btn:hover {
  color: #212529;
  text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
  background-color: var(--orange);  
  color: var(--txt-color-dark);
  font-size: 1.3rem;
  font-weight: 700;
  transition: background-color 1s;
  text-decoration: none;
}

.fcf-btn-primary:hover {
  background: var(--txt-color-dark);
  color: #fff;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
  background: var(--txt-color-dark);
  color: #fff;
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.fcf-btn-block {
  display: block;
  width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
  width: 100%;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

@keyframes returnToOrigin {
  to {
    transform: translate(0);
    opacity: 1;
  }
}